*{
  border:0;
  margin:0;
  padding:0;
}

*:focus{
  outline:none;
}

@font-face{
	font-family:roboto;
	src:url("/resources/fonts/roboto/Roboto-Thin.ttf");
	font-weight:normal;
}

@font-face{
	font-family:roboto;
	src:url("/resources/fonts/roboto/Roboto-Light.ttf");
	font-weight:bold;
}

html, body{
  font-family: roboto !important;
  min-height:100%;
  min-width:100%;
}

button{
  cursor:pointer;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

.defidertext{
  overflow:hidden;
  text-align: center;
  padding:5px 0;
}

.defidertext:before,.defidertext:after{
  background-color: #FFF9;
  content:"";
  display: inline-block;
  height: 3px;
  position:relative;
  vertical-align: middle;
  width:50%;
}

.defidertext:before{
  right:0.5em;
  margin-left: -50%;
}

.defidertext:after{
  left:0.5em;
  margin-right:-50%;
}

#mainpage{
  background-color: #FAFAFA;
  height:100%;
  width:100%;
}

#loginregpage{
  background: linear-gradient(to bottom, #64FFDA, #64B5F6);
  height:200%;
  width:100%;
  transition:right 500ms ease-in-out 500ms, top 500ms ease-in-out;
  position:fixed;
  top:0;
  right:0;
  color:#FFF;
}

  #loginsection{
    height:50%;
    width:100%;
    position:relative;
  }

#loginregpage.loggedin{
  right:100%;
}

#loginregpage[screen=login]{
  top:0;
}

#loginregpage[screen=register]{
  top:-100%;
}

  .loginlogo{
    padding:35px 0 10px 0;
    height:200px;
    width:100%;
  }

    .loginlogo img{
      display:block;
      width:200px;
      height:200px;
      margin:auto;
    }

  .loginform{
    position: relative;
    width:300px;
    margin:auto;
  }

    #loginregpage h2{
      padding:5px 15px;
    }

    #loginregpage input[type=text],#loginregpage input[type=password],button.whitetransparent{
      transition: 300ms ease-out;
      box-sizing: border-box;
      margin:5px 0px;
      width:100%;
      padding:10px 15px;
      border-radius: 1000000px;
      background: transparent;
      border: 2px solid #FFF;
      font:bold 1.5em roboto;
      opacity: 0.75;
      color:inherit;
    }

    #loginregpage input[type=password]{
      padding-right: 35px;
    }

    #loginregpage input[type=text].error,#loginregpage input[type=password].error,button.whitetransparent.error{
      border-color:#D8000C;
      color:#D8000C;
      opacity:1;
    }

    #loginregpage.loggedin input[type=text],#loginregpage.loggedin input[type=password],input[type=text].correct,input[type=password].correct{
      border-color:#7FFF00 !important;
      color:#7FFF00 !important;
    }

    #valregpassfield + button.whitetransparent{
      opacity:0.5;
    }

    #valregpassfield + button.whitetransparent{
      opacity:0.8;
    }

    #loginregpage input[type=text].error::placeholder, #loginregpage input[type=password].error::placeholder{
      color:#D8000C;
    }

    #loginregpage input[type=text]:hover,#loginregpage input[type=password]:hover,button.whitetransparent:hover{
      opacity:0.9;
    }

    #loginregpage input[type=text]:focus,#loginregpage input[type=password]:focus,button.whitetransparent:active{
      opacity:1;
    }

    #loginregpage input[type=text]::placeholder, #loginregpage input[type=password]::placeholder{
      color:inherit;
    }

    #loginbutton{
      padding:12px;
      position:absolute;
      right: 5px;
      bottom: 10px;
      cursor:pointer;
    }

    #loginregpage.loggedin #loginbutton{
      transition: 300ms ease-out;
      color:#7FFF00;
    }

    input[type=password].error + #loginbutton{
      color:#D8000C;
    }

.warn{
  color:#FF0 !important;
  border-color:#FF0C !important;
  opacity:1 !important;
}

div.w300{
  width:300px;
  margin:auto;
}

div.footer{
  position:absolute;
  bottom:35px;
  left:50%;
  transform:translateX(-50%);
}

a.inherit{
  color:inherit;
}
